@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body{
  margin: 0px;
}

.errorTitle {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: auto;
  font-size: 240px;
  color: #ff6060;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: auto;
  font-size: 30px;
  color: #ff6060;
  padding-top: 20px;
}

@media (max-width: 750px) {
  .errorTitle {
    font-size: 150px;
    margin-top: 40%;
  }
  .subtitle {
    font-size: 22px;
  }
}

.homeLink {
  position: absolute;
  left: 50%;
  bottom: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: auto;
  font-size: 20px;
  color: #ff6060;
  transform: translateX(-50%);
}

.collapse-container {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  gap: 25px;
}

@media (max-width: 750px) {
  .collapse-container {
    flex-wrap: wrap;
  }
}

.collapse-container > * {
  flex: 1;
  flex-basis: 50%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}

.logement-container {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 200px;
}
