@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 50px 50px 50px;
}

.navLink {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-size: 17px;
  text-decoration: none;
}

.navLink2 {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-size: 17px;
  text-decoration: none;
  margin-left: 50px;
}


footer{
  font-family: "Montserrat", sans-serif;
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 50px;
  background-color: black;
  text-align: center;
}

.footer_text{
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 17px;
}